################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/App_for_test_solution2/v15/Server/sqlite3/db.lock
